body {
    text-align: center;
}

img {
    width: 400px;
    border-style: dashed;
}

p {
    font-size: 35px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 35px;
}
